/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --matr-navbar-text-color: #FFFFFF;
  --navbar-text: white;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background-color: #A5D8B3 !important;
}

.white-text {
  color: white !important;
}

.black-text {
  color: black !important;
}

body .navbar {
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-color: var(--matr-navbar-text-color);
  background-color: #024731;
}

.footer {
  background-color: #024731 !important;
  color: white !important;
}

#signup-page {
}

#signin-page {
}

#signup-page-bg {
  background-image: url("https://media.istockphoto.com/id/485560378/vector/magnifying-glass-pattern-stylized.jpg?s=612x612&w=0&k=20&c=be_7xQQCADSzdBgCChWxijY6MfTihN0w7tyxzn7kuq4=");
}
  
#signin-page-bg {
  background-image: url("https://media.istockphoto.com/id/485560378/vector/magnifying-glass-pattern-stylized.jpg?s=612x612&w=0&k=20&c=be_7xQQCADSzdBgCChWxijY6MfTihN0w7tyxzn7kuq4=");
}